# Data manipulation
numpy<=1.26.4
pandas

# Deep learning
lightning
scikit_learn
torch
torchmetrics

setuptools
properscoring

# Visualization
matplotlib
seaborn
arviz
tqdm
jax-tqdm

# Bayesian
pyro-ppl
numpyro
jax
flax

blackjax